*{
    margin:0;
    padding: 0;
}

header{
    background-color: #0c5460;
    height: 100px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: darkred;
}
article {
    width: 500px;
    height: 250px;
    margin: 6px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #7eea12;
}
footer{
    background-color: #1b9448;
    height: 100px;
}